.header-header {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 1;
  max-width: 1320px;
  align-items: center;
  margin-bottom: 0.75rem;
  flex-direction: row;
  justify-content: space-between;
}
.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-heading {
  color: var(--dl-color-gray-white);
  font-weight: 700;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-navlink1 {
  display: contents;
}
.header-container1 {
  display: flex;
  align-items: center;
  margin-right: var(--dl-space-space-unit);
  flex-direction: row;
  text-decoration: none;
}
.header-icon {
  fill: var(--dl-color-gray-900);
  width: 13px;
}
.header-text {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-halfunit);
}
.header-navlink2 {
  display: contents;
}
.header-container2 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
}
.header-icon02 {
  fill: var(--dl-color-gray-900);
  width: 13px;
}
.header-text1 {
  color: var(--dl-color-gray-white);
  margin-left: var(--dl-space-space-halfunit);
}
.header-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon07 {
  width: 24px;
  height: 24px;
}
.header-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-icon09 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-icon11 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-icon13 {
  fill: var(--dl-color-gray-900);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandhalf);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.header-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.header-navlink3 {
  display: contents;
}
.header-heading1 {
  color: var(--dl-color-secondary-400);
  font-weight: 700;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.header-close-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-icon15 {
  width: 24px;
  height: 24px;
}
.header-mid {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.header-navlink4 {
  display: contents;
}
.header-container4 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  flex-direction: row;
  text-decoration: none;
}
.header-icon17 {
  fill: var(--dl-color-secondary-400);
  width: 13px;
}
.header-text2 {
  color: var(--dl-color-secondary-400);
  margin-left: var(--dl-space-space-halfunit);
}
.header-navlink5 {
  display: contents;
}
.header-container5 {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}
.header-icon19 {
  fill: var(--dl-color-secondary-400);
  width: 13px;
}
.header-text3 {
  color: var(--dl-color-secondary-400);
  margin-left: var(--dl-space-space-halfunit);
}
.header-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: center;
  flex-direction: row;
}
.header-icon24 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-icon26 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-icon28 {
  fill: var(--dl-color-secondary-400);
  width: 24px;
  height: 24px;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.header-root-class-name {
  margin-bottom: 0px;
}
.header-root-class-name2 {
  margin-bottom: 0px;
  background-color: var(--dl-color-secondary-300);
}
@media(max-width: 991px) {
  .header-header {
    max-width: 1320px;
    margin-bottom: var(--dl-space-space-triplequarter);
  }
  .header-icon09 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon11 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon13 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon24 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon26 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-icon28 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .header-root-class-name2 {
    background-color: var(--dl-color-secondary-300);
  }
}
@media(max-width: 767px) {
  .header-header {
    background-color: var(--dl-color-gray-white);
  }
  .header-heading {
    color: var(--dl-color-secondary-400);
  }
  .header-container1 {
    display: none;
  }
  .header-container2 {
    display: none;
  }
  .header-burger-menu {
    display: flex;
  }
  .header-icon07 {
    fill: var(--dl-color-secondary-400);
  }
  .header-container3 {
    display: none;
  }
  .header-root-class-name {
    margin-bottom: 0px;
  }
  .header-root-class-name2 {
    margin-bottom: 0px;
  }
}

.service-card-container {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.service-card-container1 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #f2f5f9ff;
}
.service-card-icon {
  fill: var(--dl-color-secondary-100);
  width: 24px;
  height: 24px;
}
.service-card-text {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.service-card-text1 {
  color: var(--dl-color-secondary-500);
  font-size: 1.25rem;
  text-align: center;
}
@media(max-width: 991px) {
  .service-card-container {
    width: 100%;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
}

.label-container {
  display: flex;
  position: relative;
}
.label-text {
  color: var(--dl-color-pimary-500);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  padding-top: 0.25rem;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius25);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0.25rem;
  text-transform: uppercase;
  background-color: var(--dl-color-pimary-700);
}

.secondary-button-container {
  display: flex;
  position: relative;
}
.secondary-button-button {
  color: var(--dl-color-gray-white);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
  transition: 0.3s;
  line-height: 1;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
  background-color: var(--dl-color-secondary-300);
}
.secondary-button-button:hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}
.secondary-button-button:active {
  background-color: var(--dl-color-secondary-100);
}
.secondary-button-root-class-name {
  margin-top: var(--dl-space-space-unitandhalf);
}
.secondary-button-root-class-name1 {
  margin-top: var(--dl-space-space-unitandhalf);
}

.footer-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-pimary-900);
}
.footer-container01 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container02 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text {
  color: var(--dl-color-secondary-400);
  margin-top: var(--dl-space-space-unit);
  font-weight: 600;
}
.footer-text02 {
  color: var(--dl-color-secondary-500);
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-container03 {
  display: flex;
  margin-top: var(--dl-space-space-unitandhalf);
  align-items: flex-start;
  flex-direction: row;
}
.footer-container04 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-icon {
  fill: #37BCF8;
  width: 16px;
  height: 16px;
}
.footer-container05 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-icon2 {
  fill: #ea4c89;
  width: 16px;
  height: 16px;
}
.footer-container06 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-icon4 {
  fill: #4267B2;
  width: 16px;
  height: 16px;
}
.footer-container07 {
  flex: 0 0 auto;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.footer-icon6 {
  width: 16px;
  height: 16px;
}
.footer-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: 6rem;
  flex-direction: column;
}
.footer-text03 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text04 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text05 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text06 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text07 {
  color: var(--dl-color-secondary-500);
}
.footer-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text08 {
  color: var(--dl-color-secondary-400);
  font-weight: 600;
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text09 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text10 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text11 {
  color: var(--dl-color-secondary-500);
  padding-bottom: var(--dl-space-space-halfunit);
}
.footer-text12 {
  color: var(--dl-color-secondary-500);
}
.footer-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  background-color: #e3e8efff;
}
.footer-text13 {
  color: var(--dl-color-secondary-500);
  align-self: center;
}
@media(max-width: 991px) {
  .footer-container01 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container02 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-container09 {
    align-items: center;
  }
  .footer-container10 {
    align-items: center;
  }
}
@media(max-width: 767px) {
  .footer-text02 {
    text-align: center;
  }
  .footer-container08 {
    align-items: center;
    flex-direction: column;
  }
  .footer-container09 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .footer-container10 {
    align-items: center;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-fixed-header {
  width: 100%;
  display: flex;
  z-index: 200;
  position: fixed;
  box-shadow: 0px 0px 20px 0px rgba(17, 18, 38, 0.15);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-section1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-pimary-900);
}
.home-container02 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: column;
}
.home-container03 {
  width: 66%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text {
  color: var(--dl-color-pimary-500);
  font-size: 0.875em;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.home-text01 {
  color: var(--dl-color-secondary-400);
  text-align: center;
}
.home-text02 {
  color: var(--dl-color-secondary-400);
  text-align: center;
  margin-bottom: 0.25rem;
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-navlink {
  display: contents;
}
.home-container07 {
  flex: 0 0 auto;
  width: 5rem;
  height: 5rem;
  margin: 5px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: 10%;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-text03 {
  color: var(--dl-color-secondary-400);
  align-self: center;
  text-align: center;
}
.home-container08 {
  flex: 0 0 auto;
  width: 5rem;
  height: 5rem;
  margin: 5px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: 10%;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-text06 {
  color: var(--dl-color-secondary-400);
  align-self: center;
  text-align: center;
}
.home-container09 {
  flex: 0 0 auto;
  width: 5rem;
  height: 5rem;
  margin: 5px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: 10%;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-text09 {
  color: var(--dl-color-secondary-400);
  align-self: center;
  text-align: center;
}
.home-navlink1 {
  display: contents;
}
.home-container10 {
  flex: 0 0 auto;
  width: 5rem;
  height: 5rem;
  margin: 5px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  align-items: center;
  border-radius: 10%;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-text10 {
  color: var(--dl-color-secondary-400);
  align-self: center;
  text-align: center;
}
.home-cards-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-text11 {
  color: var(--dl-color-secondary-400);
}
.home-link {
  display: contents;
}
.home-card2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-heading {
  color: var(--dl-color-secondary-100);
  text-align: center;
  font-family: Open Sans;
}
.home-text12 {
  color: var(--dl-color-secondary-700);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-link1 {
  display: contents;
}
.home-card21 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-heading1 {
  color: var(--dl-color-secondary-100);
  text-align: center;
  font-family: Open Sans;
}
.home-text13 {
  color: var(--dl-color-secondary-700);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-link2 {
  display: contents;
}
.home-card3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-text14 {
  color: var(--dl-color-secondary-100);
  text-align: center;
  text-transform: none;
}
.home-text15 {
  color: var(--dl-color-secondary-700);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-link3 {
  display: contents;
}
.home-card31 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-text16 {
  color: var(--dl-color-secondary-100);
  text-align: center;
  text-transform: none;
}
.home-text17 {
  color: var(--dl-color-secondary-700);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-link4 {
  display: contents;
}
.home-card32 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-text18 {
  color: var(--dl-color-secondary-100);
  text-align: center;
  text-transform: none;
}
.home-text19 {
  color: var(--dl-color-secondary-700);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-link5 {
  display: contents;
}
.home-card33 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius50);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-text20 {
  color: var(--dl-color-secondary-100);
  text-align: center;
  text-transform: none;
}
.home-text21 {
  color: var(--dl-color-secondary-700);
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-image {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
.home-section3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-secondary-100);
}
.home-container12 {
  width: 100%;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text22 {
  font-style: normal;
  font-weight: 700;
}
.home-text24 {
  color: var(--dl-color-gray-white);
}
.home-text25 {
  width: 80%;
  text-align: center;
  font-weight: 300;
  margin-bottom: 0.25rem;
}
.home-text26 {
  white-space: normal;
}
.home-services {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-container13 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-container14 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #f2f5f9ff;
}
.home-icon {
  width: 24px;
  height: 24px;
}
.home-text27 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.home-text28 {
  color: rgba(100,116,139,1);
  font-size: 1.25rem;
  text-align: center;
}
.home-container15 {
  flex: 0 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-container16 {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #f2f5f9ff;
}
.home-icon2 {
  width: 24px;
  height: 24px;
}
.home-text29 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unitandhalf);
  font-weight: 600;
}
.home-text30 {
  color: rgba(100,116,139,1);
  font-size: 1.25rem;
  text-align: center;
}
.home-contact {
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-text31 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-halfunit);
}
.home-text32 {
  color: rgba(255,255,255,0.75);
  width: 80%;
  text-align: center;
  font-weight: 300;
}
.home-form {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-twoandhalf);
  max-width: 700px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius50);
  flex-direction: column;
  background-color: var(--dl-color-pimary-800);
}
.home-text33 {
  color: var(--dl-color-secondary-400);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.home-text34 {
  color: rgba(100,116,139,1);
}
.home-text35 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textinput {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-textinput:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.home-text36 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textinput1 {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-textinput1:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px#4AA4E3;
}
.home-text37 {
  color: rgba(100,116,139,1);
  margin-top: var(--dl-space-space-halfunit);
  margin-left: 0.25rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-textarea {
  color: rgba(148, 163, 184, 1);
  width: 100%;
  outline: 0;
  padding: var(--dl-space-space-triplequarter);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);;
  transition: 0.3s;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-textarea:focus {
  color: var(--dl-color-secondary-500);
  box-shadow: 0 0 0 2px #4AA4E3;
}
.home-container17 {
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.home-image1 {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -1px;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 991px) {
  .home-fixed-header {
    height: 69px;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-text11 {
    color: var(--dl-color-secondary-400);
  }
  .home-section3 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container12 {
    width: 100%;
  }
  .home-services {
    align-items: center;
    flex-direction: column;
  }
  .home-container13 {
    width: 100%;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .home-container15 {
    width: 100%;
    padding-bottom: var(--dl-space-space-doubleunit);
  }
}
@media(max-width: 767px) {
  .home-section1 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container03 {
    width: 100%;
  }
  .home-container06 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .home-container07 {
    position: relative;
  }
  .home-container08 {
    position: relative;
  }
  .home-container09 {
    position: relative;
  }
  .home-container10 {
    position: relative;
  }
  .home-text10 {
    color: var(--dl-color-secondary-400);
  }
  .home-text11 {
    color: var(--dl-color-secondary-400);
  }
  .home-form {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .home-section1 {
    height: 1832px;
  }
  .home-text {
    color: var(--dl-color-pimary-500);
    font-size: 0.875em;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
  }
  .home-container04 {
    width: 387px;
  }
  .home-text03 {
    color: var(--dl-color-secondary-400);
  }
  .home-text06 {
    color: var(--dl-color-secondary-400);
  }
  .home-text09 {
    color: var(--dl-color-secondary-400);
  }
  .home-text10 {
    color: var(--dl-color-secondary-400);
  }
  .home-text11 {
    color: var(--dl-color-secondary-400);
  }
  .home-text12 {
    color: var(--dl-color-secondary-700);
    font-size: 1rem;
    text-align: left;
    font-family: Open Sans;
    line-height: 1.625rem;
  }
  .home-text13 {
    color: var(--dl-color-secondary-700);
    font-size: 1rem;
    text-align: left;
    font-family: Open Sans;
    line-height: 1.625rem;
  }
  .home-text15 {
    color: var(--dl-color-secondary-700);
    font-size: 1rem;
    text-align: left;
    font-family: Open Sans;
    line-height: 1.625rem;
  }
  .home-text17 {
    color: var(--dl-color-secondary-700);
    font-size: 1rem;
    text-align: left;
    font-family: Open Sans;
    line-height: 1.625rem;
  }
  .home-text19 {
    color: var(--dl-color-secondary-700);
    font-size: 1rem;
    text-align: left;
    font-family: Open Sans;
    line-height: 1.625rem;
  }
  .home-text21 {
    color: var(--dl-color-secondary-700);
    font-size: 1rem;
    text-align: left;
    font-family: Open Sans;
    line-height: 1.625rem;
  }
  .home-text24 {
    text-align: center;
  }
  .home-text31 {
    text-align: center;
  }
  .home-text33 {
    text-align: left;
  }
}
